@import 'styles/mixins.scss';
@import 'styles/variables.scss';

.wrapper {

  &.opened {
    @include respond-to(lg) {
      padding: 12px;
    }
  }

  .toggle {
    font-family: $manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: $ls-first;
    position: relative;
    display: none;
    align-items: center;
    width: 100%;
    padding: 13px 12px;
    background: none;

    @include respond-to(lg) {
      display: flex;
    }

    &:after {
      content: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: linear-gradient(99.67deg, $gradient-first-start -7.44%, $gradient-first-end 111.26%);
    }

    span {
      @include text-gradient(99.67deg, $gradient-first-start, -7.44%, $gradient-first-end, 111.26%);
      text-align: left;
      display: inline-block;
      width: 100%;
    }

    .icon {
      @include text-gradient(99.67deg, $gradient-first-start, -7.44%, $gradient-first-end, 111.26%);
      font-size: 22px;
    }

    &.opened {

      @include respond-to(lg) {
        padding: 7px;
      }

      &:after {
        @include respond-to(lg) {
          content: '';
        }
      }

      .icon {
        transform: rotate(180deg);
      }
    }
  }

  a {
    color: $main-text;
    font-family: $manrope;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: $ls-first;
    padding: 13px 18px 13px 0;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }
}

.rootList {
  @include respond-to(lg) {
    display: none;
  }

  &.opened {
    display: block;
  }
}
